
.idea
__pycache__
*.pyc
models/cased_L-12_H-768_A-12
models/uncased_L-12_H-768_A-12
models/cased_L-24_H-1024_A-16
models/uncased_L-24_H-1024_A-16
models/multi_cased_L-12_H-768_A-12
models/output
models/wordvectors/fasttext
models/wordvectors/word2vec
models/bert-large-cased
models/bert4tc
models/bert4tc_tf
models/scibert_scivocab_uncased
models/mpnet_base_hf

reference/confusion_matrix.pkl
reference/test.py
reference/res_plot.py

datasets/3c-shared/fulltext
*.vec
*.v2
